@model IEnumerable<FinalProject.DATA.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Applications</h2>

<table class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
            </th>
            @if (!User.IsInRole("Seeker"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.ManagerNotes)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.ResumeFilename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatusID)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenPosition.Position.Title)
            </td>
            @if (!User.IsInRole("Seeker"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerNotes)
                </td>
            }
            <td>
                <a href="~/Content/Assets/Resumes/@item.ResumeFilename" target="_blank"><i> Resume</i></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatu.Statusname)
            </td>



        </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.display').DataTable({
                responsive: true
            });
        });
    </script>
}
