@model IEnumerable<FinalProject.DATA.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        @if (!User.IsInRole("Seeker"))
        {
            <th>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.ResumeFilename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            @if (!User.IsInRole("Seeker"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerNotes)
                </td>
            }
            <td>
                <a href="~/Content/Assets/Resumes/@item.ResumeFilename" target="_blank"><i> Resume</i></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatu.Statusname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenPosition.Position.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ApplicationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationID })
            </td>
        </tr>
    }

</table>
