@model FinalProject.DATA.UserDetail
@using Microsoft.AspNet.Identity;

@{
    /**/

    ViewBag.Title = "Details";
}
@if (Model.UserID == User.Identity.GetUserId() || User.IsInRole("Manager") || User.IsInRole("Admin"))
{
    <div>
        <h4 class="section-heading text-uppercase">@Html.DisplayFor(model => model.FullName)'s Account Details</h4>
        <hr />
        <div class="row text-center">
            <h5 class="col-md-2 offset-md-4">
                @Html.DisplayNameFor(model => model.FullName)
            </h5>
            <p class="col-md-2">
                @Html.DisplayFor(model => model.FullName)
            </p>
        </div>
        <div class="row text-center">
            <h5 class="col-md-2 offset-md-4">
                @Html.DisplayNameFor(model => model.ResumeFilename)
            </h5>
            <p class="col-md-2">
                <a href="~/Content/Assets/Resumes/@Model.ResumeFilename" target="_blank"><i> Resume</i></a>
            </p>
        </div>
    </div>

    @*<div class="row text-center">
            <p class="col-md-3 offset-md-1"><a href="~/Content/Assets/Resumes/@Model.ResumeFilename" target="_blank"><i> Resume</i></a></p>
            <p class="col-md-2 offset-md-1"> <strong>@Html.DisplayNameFor(model => model.ApplicationDate)</strong>: @Html.DisplayFor(model => model.ApplicationDate) </p>
            <p class="col-md-3 offset-md-1 "><strong>@Html.DisplayNameFor(model => model.OpenPosition.Position.Title)</strong>: @Html.DisplayFor(model => model.OpenPosition.Position.Title)</p>

        </div>
        <p class="col-md-4 offset-md-4 text-center"><strong>@Html.DisplayNameFor(model => model.ApplicationStatu.Statusname)</strong>: @Html.DisplayFor(model => model.ApplicationStatu.Statusname)</p>*@




    <p>
        @if (Model.UserID == User.Identity.GetUserId())
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserID })
        }
        @if (!User.IsInRole("Seeker"))
        {
            @Html.ActionLink("Back to List", "Index")
        }
    </p>
}
