@model FinalProject.DATA.UserDetail
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}
@if (Model.UserID == User.Identity.GetUserId() || User.IsInRole("Manager"))
{ 
    <div>
        <h4>UserDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ResumeFilename)
            </dt>

            <dd>
                <a href="~/Content/Assets/Resumes/@Model.ResumeFilename" target="_blank"><i> Resume</i></a>
            </dd>

        </dl>
    </div>
    <p>
        @if (Model.UserID == User.Identity.GetUserId())
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserID })
        }
        @if (!User.IsInRole("Seeker"))
        {
            @Html.ActionLink("Back to List", "Index")
        }
    </p>
}
